* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.App {
  font-family: "Josefin", "Koulen", "lexend";
  font-family: "Poppins", "Questrial", "Quicksand";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header and navbar style info */
.Header {
  padding: 20px 30px 20px 0;
  width: auto;
  font-family: "Josefin", "Koulen", "lexend";
  font-size: 1.75rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(57, 57, 57);
  color: rgb(174, 220, 253);
}

.Header h1 {
  margin: 0;
  width: auto;
  padding: 13px 5px 13px 5px;
  font-family: "Josefin", "Koulen", "lexend";
  font-size: 5vw;
  line-height: 0.75;
  background-color: rgb(174, 220, 253);
  color: rgb(57, 57, 57);
}

.Header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Header nav ul li {
  list-style-type: none;
  display: inline;
}

.Header nav ul li a {
  border-bottom: 3px solid rgb(174, 220, 253);
  margin-right: 15px;
  font-family: "Poppins", "Questrial", "Quicksand";
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(174, 220, 253);
  padding: 8px 16px;
  transition: all 2s ease-in-out;
}

.Header nav a:hover {
  background-color: rgb(174, 220, 253);
  background-size: 75% 75%;
  color: rgb(57, 57, 57);
}

/* responsive features for header and nav */
@media screen and (max-width: 980px) {
  .Header {
    padding: 0 0 13px 0;
    justify-content: center;
    text-align: center;
    transition: all 2s ease-in-out;
  }

  .Header h1 {
    margin-bottom: 13px;
    width: 100%;
    padding: 18px 0 10px 0;
    font-size: 13vw;
  }

  .Header nav {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .Header h1 {
    justify-content: center;
    text-align: center;
  }

  .Header nav ul li a {
    font-size: 0.85rem;
    padding: 6px 12px;
  }
}

/* hero section info */
/* .Hero {
  display: flex;
  justify-content: flex-end;
} */

.hero-smcgarr {
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/smcgarr_pic.png");
  /* Photo Credit to Betwixt Studios */
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: end;
  background-color: rgb(174, 220, 253);
  color: rgb(57, 57, 57);
  padding: 13px 8px 13px 8px;
  max-height: 65px;
  margin-bottom: 26px;
  font-family: "Josefin", "Koulen", "lexend";
  font-size: 2.3vw;
  line-height: 0.8;
}

h2 {
  font-family: "Josefin", "Koulen", "lexend";
  text-align: start;
  margin: 0;
  font-size: 2.5rem;
  color: rgb(57, 57, 57);
}

/* responsive features for "hero" section*/
@media screen and (max-width: 980px) {
  .hero-smcgarr {
    min-height: 500px;
    flex-shrink: inherit;
  }

  .hero-text {
    justify-content: center;
    text-align: center;
    font-size: 5vw;
    margin: 0;
    width: 100%;
    max-height: 80px;
    transition: all 2s ease-in-out;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .hero-smcgarr {
    min-height: 400px;
    flex-shrink: inherit;
  }
}

main {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* page wrapper */
.wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

/* about me section */
h3 {
  font-family: "Josefin", "Koulen", "lexend";
  text-align: start;
  margin: 0;
  font-size: 1.75rem;
  color: rgb(57, 57, 57);
}

p {
  margin: 20px 0 0 0;
  padding: 0;
}

/* Projects */
.project-image {
  max-width: 100%;  /* Set the maximum width to 100% of the container */
  height: auto;     /* Keep the aspect ratio of the image */
}

/* work examples – all projects */
.page-section {
  font-family: "Poppins", "Questrial", "Quicksand";
  line-height: 1;
  margin: 0;
  padding: 20px;
}

h4 {
  font-family: "Josefin", "Koulen", "lexend";
  margin: 0;
  font-size: 1.15rem;
  color: rgb(57, 57, 57);
  text-decoration: none;
}

.container {
  background-color: rgb(174, 220, 253);
  padding: 15px 5px;
  text-decoration: none;
}

span {
  font-size: 0.7rem;
  color: rgb(57, 57, 57);
  text-decoration: none;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
}

[class^="block-"] {
  display: flex;
  flex-direction: row;
  height: 100vh/3;
  justify-content: space-between;
}

.flexbox-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 0;
  text-decoration: none;
  border: 5px solid rgb(174, 220, 253);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 0 0 0;
  line-height: 1;
}

.flexbox-item:hover {
  background-color: rgb(174, 220, 253);
}

/* flexbox items */
.project-1 {
  text-decoration: none;
  min-height: 400px;
  flex-basis: 100%;
  flex-shrink: 0;
  transition: all 2s ease-in-out;
  background-image: url("./assets/JoyRide.png");
}

.project-2 {
  align-items: end;
  text-decoration: none;
  min-height: 200px;
  flex-basis: 48.75%;
  background-image: url("./assets/Randys_Booth_Co_Login.png");
}

.project-3 {
  text-decoration: none;
  min-height: 200px;
  flex-basis: 48.75%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/coming-soon-handwritten.png");
}

.project-4 {
  text-decoration: none;
  min-height: 200px;
  flex-basis: 48.75%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/coming-soon-handwritten.png");
}

.project-5 {
  text-decoration: none;
  min-height: 200px;
  flex-basis: 48.75%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/coming-soon-handwritten.png");
}

/* responsive features for work examples section */
@media screen and (max-width: 768px) {
  .project-1 {
    min-height: 200px;
    flex-basis: 100%;
    flex-shrink: 0;
    transition: all 2s ease-in-out;
  }

  [class^="block-"] {
    flex-direction: column;
    width: 100%;
    height: 100vh/4;
  }
}

/* Footer */
.Footer {
  margin-top: auto;
  height: 50px;
  justify-content: center;
  font-size: 1.5vw;
  padding: 14px 0;
  background-color: rgb(57, 57, 57);
  font-size: 25px;
}

.Footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.Footer li {
  list-style: none;
  margin-right: 10px;
}

.Footer a {
  text-decoration: none;
  color:rgb(174, 220, 253)
}

.Footer a:hover {
  background-size: 75% 75%;
  color: darkorchid;
}